{% extends 'organizer_app/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css\index.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body> 
    
    <section>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmir-s3-cdn-cf.behance.net%2Fproject_modules%2Fdisp%2F5d108a54697949.56094ee6014bc.jpg&f=1&nofb=1" class="pokemonWC">
        <div class="content">
            <div class="textBox">
                <h2>Start Building Your Virtual Inventory Today</h2>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Dolore distinctio veritatis deserunt eaque quam voluptates libero nam pariatur obcaecati explicabo.
                </p>
                <a href="#">Learn How</a> 
            </div>
        </div>

        <ul class="sci">
            <li><a href ="#" style="--i:12;"><i class="fa fa-facebook"></i></a></li>
            <li><a href ="#" style="--i:13;"><i class="fa fa-twitter"></i></a></li>
            <li><a href ="#" style="--i:14;"><i class="fa fa-instagram"></i></a></li>
        </ul>


    </section> 
    </div>

</body>

{% endblock%}