{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon HTML</title>
    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script> 
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script  defer src="{% static 'js\main.js' %}"></script>

</head>
  <body>
      <style>
          body{
              background-color: aliceblue;
          }
          .poke-card{
              width: 215px;
              height: 300px;
              margin: 15px;
              background: none;
              outline: auto;
              cursor: pointer;
              font-size: 2rem;
              transition: 100ms;
          }
          .poke-card:hover{
              transform: scale(1.2);
          }

      </style>
      
    <h1>Search Pokemon</h1>
    <form class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
          <label class="sr-only" for="search">Pokemon Name</label>
          <input type="text" class="form-control mb-2" id="search" placeholder="Gotta catch'em all">
        </div>
        
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-2" id="submit-button">Submit</button>
        </div>
      </form>
    

    <!-- <input type="text" name="card-name" id="search"> -->


      <!-- bootstrap grid -->
      <div class="container">
          <div class="row" id="card-container">

          </div>
      </div>

    
  </body>
</html>